<h1><%= @institutional_unit.name %></h1>
<%= link_to "Colleges & Schools", institution_path(slug: @institutional_unit.institution.slug) %> /
<h2>Administrators</h2>

<ul>
  <% @institutional_unit.administrators.each do |admin| %>
    <li><%= "#{admin.job_title}:".capitalize %>
        <%= link_to( "#{admin.title.capitalize} #{admin.first_name.capitalize} #{admin.last_name.capitalize}",
          institution_institutional_unit_unit_administrator_path(
            institution_slug: @institutional_unit.institution.slug,
            institutional_unit_slug: @institutional_unit.slug,
            id: admin.id
          )
        )%>
  <% end %>
  <li><%= link_to(
      'Add an administrator', 
      new_institution_institutional_unit_unit_administrator_path(
        institution: @institution.slug,
        institutional_unit_slug: @institutional_unit.slug
      )
    )
  %></li>
</ul>

<h2>Departments</h2>

<ul>
  <% @institutional_unit.departments.each do |department| %>
    <li><%= link_to(
        department.name,
        institution_institutional_unit_department_path(
          institution_slug: @institution.slug,
          institutional_unit_slug: @institutional_unit.slug,
          slug: department.slug
        )
      )
    %></li>
  <% end %>
  <li><%= link_to(
      'Add new department', 
      new_institution_institutional_unit_department_path(
        institution_slug: @institution.slug,
        institutional_unit_slug: @institutional_unit.slug
      )
    )
  %></li>
</ul>

<%= render(
  partial: 'shared/notes/notes_section',
  locals: {
    parent_record: [@institution, @institutional_unit],
    notes_collection: @institutional_unit.notes,
    new_note_record: @institutional_unit.notes.build
  } 
)%>
