<h1><%= "#{@administrator.job_title.capitalize} #{@administrator.title} #{@administrator.first_name.capitalize} #{@administrator.last_name.capitalize}" %>
    <%= @administrator.interim?? '(Interim)' : '' %>
</h1>

<p><strong>Email:</strong> <%= @administrator.email.blank?? 'Not provided' : @administrator.email %></p>
<p><strong>Phone Number:</strong> <%= @administrator.phone_number.blank?? 'Not Provided' : @administrator.phone_number %></p>
<p><strong>Mail Stop:</strong> <%= @administrator.mail_stop.blank?? 'Not Provided' : @administrator.mail_stop %></p>

<h2>Administrative Assistant</h2>
<% if !@administrator.administrative_assistant.blank? %>
  <% admin_assistant = @administrator.administrative_assistant %>
  <p><strong><%= admin_assistant.first_name %> <%= admin_assistant.last_name %></strong></p>
  <p><strong>Email:</strong> <%= admin_assistant.email %></p>
  <p><strong>Phone Number:</strong> <%= admin_assistant.phone_number %></p>
  <p><strong>Mail Stop:</strong> <%= admin_assistant.mail_stop %></p>
  <p><strong>Address:</strong> <%= admin_assistant.address %></p>
<% else %>
  <p>Edit this administrator to add an administrative assistant.</p>
<% end %>
