<h1><%= "#{@administrator.job_title.capitalize} #{@administrator.title} #{@administrator.first_name.capitalize} #{@administrator.last_name.capitalize}" %>
    <%= @administrator.interim?? '(Interim)' : '' %>
</h1>

<%= link_to "Colleges & Schools", institution_path(slug: @institution.slug) %> /
<%= link_to "#{@institutional_unit.name}", 
  institution_institutional_unit_path(
    institution_slug: @institution.slug,
    slug: @institutional_unit.slug
  )%> / 
<%= link_to(
  @department.name,
  institution_institutional_unit_department_path(
    institution_slug: @institution.slug,
    insitutional_unit_slug: @institutional_unit.slug,
    slug: @department.slug
  )
)%> / <%= @administrator.job_title %>

<%= render 'shared/administrators/show' %>
