<h1><%= "#{@administrator.job_title.capitalize} #{@administrator.title} #{@administrator.first_name.capitalize} #{@administrator.last_name.capitalize}" %>
    <%= @administrator.interim?? '(Interim)' : '' %>
</h1>
<%= link_to "Colleges & Schools", institution_path(slug: @administrator.institution.slug) %> /
<%= link_to "#{@administrator.institutional_unit.name}", 
  institution_institutional_unit_path(
    institution_slug: @administrator.institutional_unit.institution.slug,
    slug: @administrator.institutional_unit.slug
  )%> / <%= @administrator.job_title %>

<%= render(
  partial: 'shared/administrators/show',
  locals: {
    administrator: @administrator,
    administrative_assistant: @administrator.administrative_assistant
  } 
)%>

<%= render(
  partial: 'shared/notes/notes_section',
  locals: {
    parent_record: [@institution, @institutional_unit, @administrator],
    notes_collection: @administrator.notes,
    new_note_record: @administrator.notes.build
  }
)%>
