<!DOCTYPE html>
<html>
  <head>
    <title>UnitAdmins</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
    <% end %>
    <% if !user_signed_in? %>
      <%= link_to 'login', login_path %>
    <% else %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
